<div class="maincontent">
  <article class="article">
    <h1 class="article-title">What is Grunge?</h1>
      <p>Grunge (sometimes referred to as the Seattle sound) is a fusion genre of alternative rock, punk rock, and heavy metal and a subculture that emerged during the mid-1980s in the Pacific Northwest U.S. state of Washington, particularly in Seattle and nearby towns. The early grunge movement revolved around Seattle's independent record label Sub Pop and the region's underground music scene. By the early 1990s its popularity had spread, with grunge bands appearing in California, then emerging in other parts of the United States and in Australia, building strong followings and signing major record deals.

      Grunge was commercially successful in the early to mid-1990s, due to releases such as Nirvana's Nevermind, Pearl Jam's Ten, Soundgarden's Badmotorfinger, Alice in Chains' Dirt and Stone Temple Pilots' Core. The success of these bands boosted the popularity of alternative rock and made grunge the most popular form of rock music at the time. Although most grunge bands had disbanded or faded from view by the late 1990s, they influenced modern rock music, as their lyrics brought socially conscious issues into pop culture and added introspection and an exploration of what it means to be true to oneself. Grunge was also an influence on later genres such as post-grunge (such as Creed and Nickelback) and nu metal (such as Korn and Limp Bizkit).

      Grunge fuses elements of punk rock, and heavy metal, such as the distorted electric guitar used in both genres, although some bands performed with more emphasis on one or the other. Like these genres, grunge typically uses electric guitar, bass guitar, a drummer and a singer. Grunge also incorporates influences from indie rock bands such as Sonic Youth. Lyrics are typically angst-filled and introspective, often addressing themes such as social alienation, apathy, concerns about confinement, and a desire for freedom.

      A number of factors contributed to grunge's decline in prominence. During the mid-to-late 1990s, many grunge bands broke up or became less visible. Nirvana's Kurt Cobain, labeled by Time as "the John Lennon of the swinging Northwest", appeared unusually tortured by success and struggled with an addiction to heroin before he died by suicide at the age of 27 in 1994.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Get Busy!</h1>
    <p>If you want to keep up with what's going on with the group, <a href="http://www.meetup.com/rouxmeet">join our meetup group</a>, <a href="http://www.twitter.com/rouxmeet">follow us on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/rouxmeet">join our FaceBook group</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Who should come?</h1>
    <ul>
      <li>Anybody interested in art and the creative industry</li>
      <li>Painters, sculptors, photographers and graphic artists</li>
      <li>Those interested in meeting and making a connection with others in the local art scene.</li>
    </ul>
  </article><!-- article -->
</div>
